{% extends 'base.html' %}
{% load static %}
{% block title %}TodoDetail{% endblock %}

{% block todo_index %}
    <a href="{% url 'todo:index' %}" class="list-group-item list-group-item-action">
        <img src="/static/bootstrap-icons/icons/layout-text-window-reverse.svg" alt="" width="24"
             height="24"/>
        todo Index
    </a>
{% endblock %}

{% block todo_list %}
    <a href="{% url 'todo:list' %}" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/shop.svg' %}" alt="" width="24" height="24"/>
        　todo List
    </a>
{% endblock %}

{% block todo_detail %}
    <a href="#" class="list-group-item list-group-item-action active">
        <img src="{% static 'bootstrap-icons/icons/diagram-3.svg' %}" alt="" width="24" height="24"/>
        todo detail
    </a>
{% endblock %}

{% block todo_create %}
    <a href="{% url 'todo:create' %}" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/person-plus.svg' %}" alt="" width="24" height="24"/>
        　todo create
    </a>
{% endblock %}

{% block todo_update %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/envelope.svg' %}" alt="" width="24" height="24"/>
        todo update
    </a>
{% endblock %}

{% block center %}
    <div class="col-lg-7 border order-2">
        <table class="table table-striped table-hover table-bordered">
            <thead>
            <tr>
                <th>id</th>
                <th>Todo名</th>
                <th>カテゴリー</th>
                <th>内容</th>
                <th>作成日</th>
                <th>更新日</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ object.pk }}</td>
                <td>{{ object.name }}</td>
                <td>{{ object.todo_category_id }}</td>
                <td>{{ object.description }}</td>
                <td>{{ object.created_at }}</td>
                <td>{{ object.updated_at }}</td>
            </tr>

            </tbody>
        </table>


    </div>
{% endblock %}