{% extends 'base.html' %}
{% load static %}
{% block title %}ToDoインデックス{% endblock %}

{% block todo_index %}
    <a href="{% url 'todo:index' %}" class="list-group-item list-group-item-action active">
        <img src="/static/bootstrap-icons/icons/layout-text-window-reverse.svg" alt="" width="18" height="18"/>
        　ダッシュボード
    </a>
{% endblock %}

{% block todo_list %}
    <a href="{% url 'todo:list' %}" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/shop.svg' %}" alt="" width="18" height="18"/>
        　Todo 一覧・更新
    </a>
{% endblock %}

{% block new_app %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/diagram-3.svg' %}" alt="" width="18" height="18"/>
        　新アプリ
    </a>
{% endblock %}

{% block customer %}
    <a href="{% url 'todo:create' %}" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/person-plus.svg' %}" alt="" width="18" height="18"/>
        　顧客管理
    </a>
{% endblock %}

{% block e_mail %}
    <a href="#" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/envelope.svg' %}" alt="" width="18" height="18"/>
        　メール
    </a>
{% endblock %}

{% block todo_update %}
    <a href="{% url 'todo:update' 1 %}" class="list-group-item list-group-item-action">
        <img src="{% static 'bootstrap-icons/icons/envelope.svg' %}" alt="" width="18" height="18"/>
        　メール
    </a>
{% endblock %}

{% block center %}
    <div class="col-lg-7 border order-2">
        <br/>
        Todoは {{ todos.count }} 件
        <div class="card card-default">
            <ul class="list-group list-group-flush">
                {% for o in todos %}
                    <li class="list-group-item">
                        <a href="{% url 'todo:detail' o.pk %}">{{ o.name }}</a>
                    </li>
                {% empty %}
                    <li class="list-group-item">
                        Todoははありません
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}